@import "index";
@import "quienes-somos";
@import "productos";
@import "tutoriales";
@import "contacto";

/*variables*/
$color-base:  white;
$color-fondo: rgb(214, 189, 118);
$color-texto: rgba(66, 28, 2, 0.8196078431);
$color-link: #be712b;
$color-icono: $color-texto;
$fuente-principal: "Fira Sans", sans-serif;
$padding-general: 0px;
$margin-general: 0px;

/*estilos generales*/

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");


* {
  padding: $padding-general;
  margin: $margin-general;
}

body {
  background-color: $color-fondo;
  color: $color-texto;
  font-family: $fuente-principal;
}

 header {
  position: sticky;
  top: 0%;
  background-color: $color-base;
    img {
      width: 500px;
      height: 150px;
    }
    .nav-link{
      color: $color-link;
      font-size: 1.4rem;
      transition: background-color 0.3s ease;
    }
    
    .nav-link:hover {
      background-color: $color-texto;
    }
    
}

footer {
  margin-top: 20px;
  padding: 20px;
  border-top: $color-fondo;
  background-color: $color-base;
  ul {
    display: flex;
    justify-content: space-evenly;
  }
    li{
      list-style: none;
    }
  .bi{
    color: $color-icono;
    font-size: 2rem;
  }
} 

.contenedor-parrafo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
    
}

h1 {
  text-align: center;
  margin-bottom: -5px;
}
.contenedor-parrafo p {
  padding: 50px;
  font-size: 1.3rem;
  font-weight: bold;
}
.contenedor-parrafo img {
  width: 400px;
}



/*MEDIA- QUERIES*/

/*tablet*/

@media only screen and (max-width: 768px) {

.contenedor-parrafo {
  padding: 20px;
  text-align: justify;
}

.fotos-inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fotos-inicio img {
  width: 45%;
  margin-bottom: 20px;
}

/*somos*/

.main-somos{
  font-size: 16px;
  padding: 10px;
}

/*productos*/

.imagenes-productos{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}

.imagenes-productos img{
  margin: 5px;
  width: 240px;
  height: 300px;

}

/*tutoriales*/

.video-contenedor {
  display: flex;
  flex-direction: column;
}

 iframe{
   width: 700px;
   height: 280px;
 }
}
  
/*mobile*/

@media only screen and (max-width: 576px) {

  /*estilo-general*/
  header{
    flex-direction: column;
  }

  header img {
    width: 90%;
  
  }

  .menu-nav {
    padding: 10px 0px;
  }

  ul li {
    margin: 0px 10px;
  }

  ul li a {
    font-size: 1rem;
  }

  .fotos-inicio {
  
    height: auto;
    flex-wrap: wrap;
  }

  .fotos-inicio img {
    width: 47%;
    height: auto;
    margin: 1%;
  }
  /*productos*/

  .imagenes-productos img {
    width: 90%;
    height: 90%;
    margin: 2%;
  }

  /*somos*/

  .main-somos img {
    width: 80%;
    height: auto;
    margin: 2%;
  }
    
  .contenedor-parrafo{
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  
  .contenedor-parrafo img{
    order: -1;
  } 

  /*tutoriales*/

  iframe{
    width: 500px;
    height: 280px;
  }

}
